<app-navbar></app-navbar>
<button (click)="toggleForm()" class="add-book-btn">Add Book</button>
   <div class="admin-container">
    <div *ngIf="isFormVisible" class="book-form">
      <h3>{{ isEditMode ? 'Edit Book' : 'Add New Book' }}</h3>
      <form (submit)="onSubmit()">
        <label for="title">Title:</label>
        <input id="title" [(ngModel)]="book.title" name="title" required />
        <label for="author">Author:</label>
        <input id="author" [(ngModel)]="book.author" name="author" required />
        <label for="description">Description:</label>
        <textarea id="description" [(ngModel)]="book.description" name="description"></textarea>
        <label for="price">Price:</label>
        <input id="price" [(ngModel)]="book.price" name="price" type="number" required />
        <label for="image">Image:</label>
        <input id="image" type="text" [(ngModel)]="book.image" name="image" required />
        <button type="submit">{{ isEditMode ? 'Update Book' : 'Add Book' }}</button>
        <button type="button" (click)="toggleForm()">Cancel</button>
      </form>
    </div>
  
    <!-- Book List Grid -->
    <div class="books-grid">
      <div *ngFor="let b of books" class="book-item">
        <h4>{{ b.title }}</h4>
        <img [src]="b.image || '../../assets/default-book-cover.png'" alt="{{ b.title }}" />
        <p><strong>Author:</strong> {{ b.author }}</p>
        <p><strong>Price:</strong> {{ b.price}}</p>
        <p>{{ b.description }}</p>
        <button (click)="editBook(b)">Edit</button>
        <button (click)="deleteBook(b.id)">Delete</button>
      </div>
    </div>
</div>
  